body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color: #FFF;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    height: 450px;
    background-position: center center; 
    background-repeat: no-repeat;
    text-indent:100%;
	white-space: nowrap;
	overflow: hidden;
}
li:hover{
    background: #0066CC;
    color:#fff;
    background-position: center center; 
    background-repeat: no-repeat;
}
#pc_hand {
    margin: auto auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#judgment{
    margin: 30px auto;
    text-align: center;
}
.hand{
    width: 100%;
    display: flex;
}
.pchand_gu{
    background-image: url(../img/janken_gu.png);
    background-position: center center; 
    background-repeat: no-repeat;
    text-indent:100%;
	white-space: nowrap;
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-size: cover;
}
.pchand_cho{
    background-image: url(../img/janken_choki.png);
    background-position: center center; 
    background-repeat: no-repeat;
    text-indent:100%;
	white-space: nowrap;
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-size: cover;
}
.pchand_pa{
    background-image: url(../img/janken_pa.png);
    background-position: center center; 
    background-repeat: no-repeat;
    text-indent:100%;
	white-space: nowrap;
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-size: cover;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #gu_btn{
    background-image: url(../img/janken_gu.png);
}
#cho_btn{
    background-image: url(../img/janken_choki.png);
}
#par_btn{
    background-image: url(../img/janken_pa.png);
} */

#mybox{
    display: flex;
    flex-direction: column;
    /* height: 600px; */
    text-indent:100%;
	white-space: nowrap;
	overflow: hidden;
}
#gu_box{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gu_btn{
    background-image: url(../img/janken_gu.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
}

#chopa_box{
    display: flex;
    height: 300px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#cho_btn{
    background-image: url(../img/janken_choki.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
}
#par_btn{
    background-image: url(../img/janken_pa.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
}
#hp_box{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#myhp_box {
   float: left;
    display: flex;
   /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
#pchp_box{
   float: right;
   display: flex;
   margin-right: 50px;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
#myhp{
    width: 250px;
    text-align: right;
}
#pchp{
    width: 320px;
    text-align: right;
}
#myhp_g{
    width: 300px;
}
#pchp_g{
    width: 300px;
}




